<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.TimeStore.StudyNotes.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.TimeStore.StudyNotes.model.user.User" >
        <id column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="first_name" property="firstName" jdbcType="VARCHAR" />
        <result column="last_name" property="lastName" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="profile_photo" property="profilePhoto" jdbcType="VARCHAR" />
        <result column="registration_time" property="registrationTime" jdbcType="TIMESTAMP" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="age" property="age" jdbcType="TINYINT" />
         <result column="telephone_number" property="telephoneNumber" jdbcType="VARCHAR" />       
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="role" property="role" javaType="com.TimeStore.StudyNotes.model.user.Role"/>
        <result column="is_active" property="isActive" jdbcType="TINYINT" />
    </resultMap>
   	
    <sql id="Base_Column_List" >
        user_id, password, ip, first_name, last_name, email, profile_photo, registration_time, birthday, age, telephone_number, nickname, role, is_active
    </sql>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM sn_users
	   WHERE user_id = #{userId}
    </select>

</mapper>